.topnav {
        overflow : hidden;
        background-color :white;
        font-family : montserrat;
        margin : 0;
        padding : 0;
        }

        .img {
        float : left;
        display : none;
        color : grey;
        padding : 0px;
        }

        .topnav {
        overflow : hidden;
        background-color :white;
        font-family : montserrat;
        margin : 0;
        padding : 0;
        }

        .topnav a {
        float : right;
        display : block;
        color :  #9c9494;
        text-align : center;
        padding : 40px 30px;
        text-decoration : none;
        font-size : 16px;
        font-weight : 300;
        font-weight : 1.8;
        }

        #active {
        background-color : goldenrod;
        color: white;
        }

        .topnav .icon {
        display : none;
        }

        .dropdown {
        float : right;
        overflow : hidden;
        font-weight : 400;
        }

        .dropdown .dropbtn {
        font-size : 16px;    
        border : none;
        outline : none;
        color : #9c9494;
        padding : 40px 30px;
        background-color : inherit;
        font-family : montserrat;
        font-weight : 1.8;
        margin : 0;
        }

        .dropdown-content {
        display : none;
        position : absolute;
        background-color : #f9f9f9;
        min-width : 160px;
        box-shadow : 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index : 1;
        }

        .dropdown-content a {
        float : none;
        color : #9c9494;
        padding : 12px 16px;
        text-decoration : none;
        display : block;
        text-align : left;
        }

        .topnav a:hover, .dropdown:hover .dropbtn {
        background-color : goldenrod;
        color : white;
        }

        .dropdown-content a:hover {
        background-color : goldenrod;
        color : white;
        }

        .dropdown:hover .dropdown-content {
        display : block;
        }

        #CompanyLogo{
        height:100px;
        }


        .Header {
        text-align : center; 
        margin-left : auto; 
        margin-right : auto; 
        width : 1100px; 
        color :	#757575; 
        font-family : montserrat; 
        font-weight : 330; 
        font-size : 18px; 
        line-height : 35px;
        }

        .Header1 {
        text-align : center; 
        margin-left : auto; 
        margin-right : auto; 
        width : 1100px; 
        color :	#757575;
        font-family : montserrat; 
        font-weight : 330; 
        font-size : 18px; 
        line-height : 35px;
        }

        * {
        box-sizing: border-box;
        }

        .bg-img {
        background-image: url("San27.jpg");
        min-height: 900px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }

        .container {
        position: absolute;
        margin: 100px auto 200px 350px;
        max-width: 800px;
        padding: 30px;
        background-color: white;
        width : 100%;
        font-family: montserrat; 
        Color : grey;
        box-shadow: 5px 10px 8px #888888;
        }

        .btn {
        background-color : goldenrod;
        color : white;
        letter-spacing : 0.20em;
        padding: 16px 20px;
        border : none;
        cursor : pointer;
        width : 100%;
        font-size : 15px;
        margin-bottom: 5px;
        }

        .btn:hover {
        background-color : gold;
        }

        #Forgotpsw{
        font-size : 15px;
        text-decoration : none;
        font-family: montserrat;
        font-weight: bold;
        color : red;
        }

        #Forgotpsw:hover {
        color : goldenrod;
        }

        #member{
        font-size : 15px;
        text-decoration : none;
        font-weight: bold;
        color : goldenrod;
        }

        #member:hover {
        color : grey;
        }

        .img {
        float : center;
        display : none;
        color : grey;
        padding : 0px;
        }

        #pfooter{
        font-size: 18px; 
        text-align: right; 
        padding-bottom: 18px;
        color : white;
        line-height : 40px;

        }

        footer{
        background-color: #afaead;
        color : white; 
        padding-top: 10px; 
        padding-bottom:15px; 
        padding-left : 20px;
        height :180px; 
        width :99.99%; 
        color :grey; 
        font-weight: lighter; 
        font-family: montserrat; 
        font-size:18px;
        }

        #pfooter{
        font-size: 18px; 
        text-align: left; 
        margin-left: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        color : white;
        line-height : 40px;
        text-align: left;
        font-weight: light;
        line-height: 30px;
        }

        .Follow {
        font-weight: light; 
        font-family: montserrat; 
        font-size:13px;
        text-align : center;
        color : #afaead;
        } 

        h1 {
        text-align : left;
        }

        #email {
                width: 100%;
                padding: 15px;
                margin: 5px 0 15px 0;
                border: none;
                background: #f1f1f1;
        }

        #checkbox {
                margin-top : 10px;
                margin-bottom : 25px;
        }

        #psw {
                width: 100%;
                padding: 15px;
                margin: 5px 0 0 0;
                border: none;
                background: #f1f1f1;
        }

        .psw {
                margin:25px auto 10px auto;
        }

        .checkbox {
                margin-bottom: 25px;;
        }

        p {
                margin-bottom: -1px;
        }


        #message {
        display:none;
        background: #f1f1f1;
        color: grey;
        position: relative;
        padding: 20px;
        margin : auto;
        width : 100%;
      }
      
      #message p {
        padding: 10px 35px;
        font-size: 18px;
      }
      

      .valid {
        color: green;
      }
      
      .valid:before {
        position: relative;
        left: -35px;

      }
      

      .invalid {
        color: red;
      }
      
      .invalid:before {
        position: relative;
        left: -35px;

      }